<div class="parent">
  <div class="nav-wrapper">
    <div class="nav-left">
      <mat-icon class="pr-2">school</mat-icon>
      <h1>School</h1>
    </div>
    <div class="nav-right px-5">
      <h4>Home</h4>
      <h4>About Us</h4>
      <h4>Facilities</h4>
      <h4>Student Corner</h4>
      <h4>Alumni</h4>
    </div>
  </div>
  <section class="video-player">
    <div class="v-player container w-100 d-flex flex-row justify-content-around">
      <div class="d-flex flex-column top-content">
        <h1 class="latest-dev">Education Redefined</h1>
        <div class="blue-line mt-4"></div>
        <h2 class="checkout mt-4">Empowering young minds for tomorrow's challenges</h2>
      </div>
      <div class="engineers">
        <img src="'../../assets/kings-college-cambridge-uk-university-thumbnail.jpg">
        <!-- <svg class="mat-icon material-symbols-outlined" xmlns="http://www.w3.org/2000/svg" width="70" height="70"
          viewBox="0 0 24 24" style="fill: rgb(255, 255, 255)">
          <path
            d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
          </path>
          <path d="m9 17 8-5-8-5z"></path>
        </svg> -->
      </div>
    </div>
  </section>

  <section class="playlists-section">
    <div class="playlists container">
      <div class="playlists-heading">Why choose us ?</div>
      <div class="playlists-sub-heading">Gallery</div>
      <div class="side-section d-flex d-flex align-items-center">
        <div class="arrows pr-2">
          <svg class="mat-icon" xmlns="http://www.w3.org/2000/svg" (click)="swipeRow('Left', 0)" width="24" height="24"
            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
          </svg>
        </div>
        <div class="playlists-section d-flex align-items-center pt-4 pb-3 justify-content-start" #mediaPlayLists>
          <div class="each-video">
            <img class="playlists-content" src="../assets/independence.jpeg" width="260px" alt="">
            <div class="playlists-text">Independence Day</div>
            <div class="pt-2 sub-text">Children celebrate the spirit of freedom with enthusiasm, showcasing unity and pride during Independence Day celebrations at our school.</div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/quiz.jpeg" width="260px" alt="">
            <div class="playlists-text">Quiz competitions</div>
            <div class="pt-2 sub-text">Students engage in friendly competition, showcasing their knowledge and quick thinking in the exciting quiz competition, fostering a love for learning.
            </div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/sciencefair.jpeg" width="260px" alt="">
            <div class="playlists-text">Science Fair</div>
            <div class="pt-2 sub-text">Students engage in friendly competition, showcasing their knowledge and quick thinking in the exciting quiz competition, fostering a love for learning.

            </div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/sportsday.jpeg" width="260px" alt="">
            <div class="playlists-text">Sports Day</div>
            <div class="pt-2 sub-text">Students embrace the thrill of friendly competition on Sports Day, displaying teamwork, discipline, and the spirit of sportsmanship.

            </div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/teachersday.jpeg" width="260px" alt="">
            <div class="playlists-text">Teachers Day</div>
            <div class="pt-2 sub-text">On Teachers' Day, students express gratitude and admiration for their educators, celebrating the invaluable role teachers play in shaping their futures.

            </div>
          </div>
        </div>
        <div class="arrows pl-2">
          <svg class="mat-icon" xmlns="http://www.w3.org/2000/svg" (click)="swipeRow('Right', 0)" width="24" height="24"
            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
          </svg>
        </div>
      </div>
      <div class="playlists-sub-heading">Curriculum</div>
      <div class="side-section d-flex d-flex align-items-center">
        <div class="arrows pr-2">
          <svg class="mat-icon" xmlns="http://www.w3.org/2000/svg" (click)="swipeRow('Left', 1)" width="24" height="24"
            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
          </svg>
        </div>
        <div class="playlists-section d-flex align-items-center pt-4 pb-3 justify-content-start" #mediaPlayLists>
          <div class="each-video">
            <img class="playlists-content" src="../assets/maths.jpeg" width="260px" alt="">
            <div class="playlists-text">Mathematics</div>
            <div class="pt-2 sub-text">Skilled teaching professionals. 100+ Olympiad winners</div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/science.jpeg" width="260px" alt="">
            <div class="playlists-text">Science</div>
            <div class="pt-2 sub-text">Skilled teaching professionals. 12 Student projects sponsered by IIT-Madras</div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/computer.jpeg" width="260px" alt="">
            <div class="playlists-text">Computer Education</div>
            <div class="pt-2 sub-text">Skilled teaching professionals. Producing 500+ leetcode knights every year</div>
          </div>
          <div class="each-video">
            <img class="playlists-content" src="../assets/ai.jpeg" width="260px" alt="">
            <div class="playlists-text">Artificial Intelligence</div>
            <div class="pt-2 sub-text">Skilled teaching professionals. AI certified students, mandated from class IVth</div>
          </div>
        </div>
        <div class="arrows pl-2">
          <svg class="mat-icon" xmlns="http://www.w3.org/2000/svg" (click)="swipeRow('Right', 1)" width="24" height="24"
            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="school-footer">
    <div class="playlists-heading pl-2">Proven Expertise</div>
    <div class="footer-container">
      <div class="footer-item">
        <div class="bold-text">13+</div>
        <div class="bold-content">years of experience</div>
      </div>

      <div class="footer-item">
        <div class="bold-text">10+</div>
        <div class="bold-content">new age entreprenuers</div>
      </div>

      <div class="footer-item">
        <div class="bold-text">1000+</div>
        <div class="bold-content">happy children</div>
      </div>
    </div>
  </section>

  <section class="quotes-section">
    <p class="quote">
      "Education is the most powerful weapon which you can use to change the world."
     <br> – Nelson Mandela
    </p>
    <p class="quote">"Education is not the filling of a pail, but the lighting of a fire."
     <br> – William Butler Yeats</p>
     <p class="quote">
      "The roots of education are bitter, but the fruit is sweet."
   <br> – Aristotle
     </p>
  </section>
  <section>
    <div class="footer-container">
      <div class="footer-item">
        <div class="bolder-text">Location</div>
        <div class="bold-content"> Number : 13
          Yogi Street <br>
           64, Hari Apartments, Khajaguda
           Hyderabad 500082</div>
      </div>

      <div class="footer-item">
        <div class="bolder-text">Office Timings</div>
        <div class="bold-content">Mon - Fri : 9AM to 6PM <br>
          Sat : 10AM - 12:30 PM <br>
          Sun : 10AM - 12:30 PM <br>
          Closed on Public Holidays
        </div>
      </div>

      <div class="footer-item">
        <div class="bolder-text">Stay Connected</div>
        <div class="bold-content">Linkedin: pioneer <br>
          Email : pioneer@gmail.com
          WhatsApp : 111111111111
          WorkChat : p@meta.com
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="recently-added-mobile-section">
      <div class="recently-added container">
          <div class="more-heading">More <span class="videos-text">Videos</span></div>
          <div class="engineers d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/Thumbnail 36@2x.png" width="500px" height="300px" alt="">
              <div class="d-flex flex-column recently-added-content w-100">
                  <div class="mt-2 playlists-text">ASBL</div>
                  <div class="mt-1 sub-text">Lorem Ipsum is simply dummy</div>
              </div>
          </div>
          <div class="playlists-section d-flex align-items-center pt-4 pb-3 justify-content-start">
              <div>
                  <img class="playlists-content" src="assets/images/Thumbnail 39@2x.png" width="170px"
                      alt="">
                  <div class="playlists-text">ASBL Spire</div>
                  <div class="pt-2 sub-text">Lorem Ipsum is simply dummy</div>
              </div>
              <div>
                  <img class="playlists-content" src="assets/images/Thumbnail 3@2x.png" width="170px" alt="">
                  <div class="playlists-text">ASBL Springs</div>
                  <div class="pt-2 sub-text">Lorem Ipsum is simply dummy</div>
              </div>
              <div>
                  <img class="playlists-content" src="assets/images/Thumbnail 40@2x.png" width="170px"
                      alt="">
                  <div class="playlists-text">ASBL Lakeside</div>
                  <div class="pt-2 sub-text">Lorem Ipsum is simply dummy</div>
              </div>
          </div>
      </div>
  </section> -->

  <!-- <section class="latest-section">
    <div class="latest-content container">
      <div class="d-flex justify-content-between">
        <div class="more-heading">Latest <span class="videos-text">News</span></div>
        <div>
          <span #page class="paging pr-3">1</span>
          <span #page class="paging pr-3">2</span>
          <span #page class="paging pr-3">3</span>
        </div>
      </div>
      <div>
        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex ">
            <a href="https://www.sakshipost.com/news/national/industry-leaders-react-nirmala-sitharamans-budget-2023-168372"
              target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://www.sakshipost.com/news/national/industry-leaders-react-nirmala-sitharamans-budget-2023-168372"
                target="_blank" class="news-header">Industry Leaders React to Nirmala Sitharaman's
                Budget 2023
              </a>
              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Feb 01 <span class="news-year">, 2023, 3:46 PM
                    IST</span></span>
                <span class="news-date news-year">10 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://www.sakshipost.com/news/national/industry-leaders-react-nirmala-sitharamans-budget-2023-168372"
              target="_blank" class="learn-more-btn">Learn more</a>
          </div>
        </div>
        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex ">
            <a href="https://www.outlookindia.com/business-spotlight/tech-enabled-construction-steering-real-estate-business-news-252630"
              target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://www.outlookindia.com/business-spotlight/tech-enabled-construction-steering-real-estate-business-news-252630"
                target="_blank" class="news-header">Tech-enabled construction steering real-estate
                business
              </a>
              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Jan 11 <span class="news-year">, 2023, 11:52 AM
                    IST</span></span>
                <span class="news-date news-year">4 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://www.outlookindia.com/business-spotlight/tech-enabled-construction-steering-real-estate-business-news-252630"
              target="_blank" class="learn-more-btn">Learn more</a>
          </div>
        </div>
        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex ">
            <a href="https://www.eenadu.net/telugu-news/districts/Hyderabad/529/122176425" target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://www.eenadu.net/telugu-news/districts/Hyderabad/529/122176425" target="_blank"
                class="news-header">ASBL Organizes ‘National Engineer’s Day Symposium’
              </a>
              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Sep 16 <span class="news-year">, 2022, 02:36 PM
                    IST</span></span>
                <span class="news-date news-year">1 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://www.eenadu.net/telugu-news/districts/Hyderabad/529/122176425" target="_blank"
              class="learn-more-btn">Learn more</a>
          </div>
        </div>
      </div>
      <div>
        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex">
            <a href="https://telanganatoday.com/asbl-organises-national-engineers-day-symposium-in-hyderabad"
              target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://telanganatoday.com/asbl-organises-national-engineers-day-symposium-in-hyderabad"
                target="_blank" class="news-header">ASBL organises ‘National Engineer’s Day Symposium’
                in Hyderabad
              </a>

              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Sep 15 <span class="news-year">, 2022 08:18 pm
                    IST</span></span>
                <span class="news-date news-year">4 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://telanganatoday.com/asbl-organises-national-engineers-day-symposium-in-hyderabad"
              target="_blank" class="learn-more-btn">Learn more</a>
          </div>
        </div>

        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex ">
            <a href="https://indiaeducationdiary.in/asbl-organizes-national-engineers-day-symposium/" target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://indiaeducationdiary.in/asbl-organizes-national-engineers-day-symposium/" target="_blank"
                class="news-header">ASBL Organizes ‘National Engineer’s Day Symposium’
              </a>
              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Sep 15 <span class="news-year">, 2022, 07:04 PM
                    IST</span></span>
                <span class="news-date news-year">1 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://indiaeducationdiary.in/asbl-organizes-national-engineers-day-symposium/" target="_blank"
              class="learn-more-btn">Learn more</a>
          </div>
        </div>

        <div class="news-wrapper w-100 d-flex">
          <div class="news-content-wrap d-flex ">
            <a href="https://realty.economictimes.indiatimes.com/news/industry/ashoka-builders-india-buys-10-acres-land-in-hyderabad-for-rs-235-crore/88541810"
              target="_blank">
              <img src="../assets/images.jpeg" alt="" width="180px">
            </a>
            <div class="d-flex flex-column news-data w-100">
              <a href="https://realty.economictimes.indiatimes.com/news/industry/ashoka-builders-india-buys-10-acres-land-in-hyderabad-for-rs-235-crore/88541810"
                target="_blank" class="news-header">Ashoka Builders India buys 10 acres land in
                Hyderabad for Rs 235
                crore
              </a>
              <div class="news-content d-flex h-100 justify-content-between">
                <span class="news-date">Dec 28 <span class="news-year">, 2021, 3:00 PM
                    IST</span></span>
                <span class="news-date news-year">1 Min Read</span>
              </div>
            </div>
          </div>
          <div class="learn-more justify-content-center align-items-center">
            <a href="https://realty.economictimes.indiatimes.com/news/industry/ashoka-builders-india-buys-10-acres-land-in-hyderabad-for-rs-235-crore/88541810"
              target="_blank" class="learn-more-btn">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section [id]="selectorsList[4]" class="enquire-now-section mt-4" style="padding: 2rem 2rem 4rem 2rem;">
    <app-enquire-form class="enquire-form" [thankYouUrl]="'footer'" [parentScreenName]="'MEDIA'">
    </app-enquire-form>
  </section>
  <section class="project-cards" [id]="selectorsList[5]">
    <app-project-cards [parentScreenName]="'MEDIA'"></app-project-cards>
  </section>
  <section>
    <app-footer [id]="selectorsList[6]"></app-footer> -->
  <!-- </section> -->

</div>